@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
.sidebar li:hover {
    border-bottom: 4px solid  blueviolet;
    transform: all 0.7s ease;
   
  }

a:link{
    color:black;
    text-decoration: none;
}
.sidebar{
    width: 12%;
    height: 100%;
    position:fixed;
    background-color: aqua;
    
}
.sidebar nav{
    padding:39px;
}
.sidebar nav li{
    list-style:none;
    padding:10px 0;
}
.main_content{
    background-color: blueviolet;
    width: 100%;
}
.container{
    width: 100%;
    display: flex;
}
.home{
    background-color: aliceblue;
    width:80%;
    margin:80px 180px auto;
    display:flex;
    justify-content:space-around;
}
.home_pic img{
    height:65vh;
    
}
.home_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.intro{
    font-size: 44px;
    
}
.name{
    font-size: 30px;
    text-decoration: blueviolet;
}
.role{
    font-size: 20px;
}
.buttons{
    padding-top:20px;
}
.buttons button{
    width: 32%;
    font-size: 18px;
    background-color:blueviolet;
    color:#fff;
    border:0px;
    border-radius:20px;
    transition: all 0.5s;
    
}
.buttons button:hover{
    background-color: aqua;
    box-shadow: 20px;
}
/**.frm{
    height: 60vh;
    background-color: aliceblue;
    width:40vw;
    margin:80px auto;
    display:flex;
    
}
input {
    border-radius: 17px;
  }
input[type=submit] {
    border-radius: 20px;
    background-color:aqua;
    font-size: 19px;
  }
/**************For about page*********************/
.about{
    background-color: aliceblue;
    width:80%;
    margin:80px 180px auto;
    display:flex;
    justify-content:space-around;
}
.about_pic img{
    height:65vh;
    margin:90px auto;
    
}
.about_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/************************contact me *****************/
.contact{
    background-color: aliceblue;
    width:80%;
    margin:80px 180px auto;
    display:flex;
    justify-content:space-around;
}
.contact_pic img{
    height:31vh;
    width:16vw;
    margin:90px auto;
    
}
.contact_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input[type=submit] {
    font-size: 18px;
    background-color:blueviolet;
    color:#fff;
    border:0px;
    border-radius:20px;
  }
  input {
    border-radius: 17px;
  }

/*For what is do*/
.what_i_do{
    background-color: aliceblue;
    width:80%;
    margin:80px 180px auto;
    justify-content:space-around;
}
.what_i_do_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.what_i_do_heading{
    padding:20px;
}
.what_i_do_info .project{
    padding:10px;
}


